#sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  small{
    color: #ffffffab;
  }
  a{
    color: white;
    font-weight: bolder;
    &:hover {
      font-weight: bolder;
      color: rgb(0, 119, 128);
    }
  }
}


#fixed-footer {
  position: absolute;
  bottom: initial;
  width: 100%;
  small{
    color: black;
  }
  a{
    color: black;
    font-weight: bolder;
    &:hover {
      font-weight: bolder;
      color: rgb(0, 119, 128);
    }
  }
}

#fixed-footer-black {
  position: absolute;
  bottom: 0;
  width: 100%;
  small{
    color: black;
  }
  a{
    color: black;
    font-weight: bolder;
    &:hover {
      font-weight: bolder;
      color: rgb(0, 119, 128);
    }
  }
}


#general-footer{
  position: absolute;
  bottom: initial;
  width: 100%;
  small{
    color: black;
  }
  a{
    color: black;
    font-weight: bolder;
    &:hover {
      font-weight: bolder;
      color: rgb(0, 119, 128);
    }
  }
}