.header-home {
  padding: 1em !important;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.637),
    transparent
  ) !important;

  .nav-link-home {
    font-weight: lighter;
  }

  .nav-link-home {
    letter-spacing: 0;
    transition: 0.5s;
    font-family: "Quicksand";
    margin-right: 20px;
    font-size: 19px;
  }

  .nav-link-home:hover {
    font-weight: bold;
  }

  .nav-link-home:after {
    backface-visibility: hidden;
    border-bottom: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }

  .nav-link-home:hover:after,
  .nav-link-home:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
  }

  .nav-link-home:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }

  
}

.header-rest {
  padding: 1em !important;
  background: white;
  .nav-link-rest {
    font-weight: normal;
  }

  .nav-link-rest {
    letter-spacing: 0;
    transition: 0.5s;
    margin-right: 20px;
    font-size: 19px;
    font-family: "Quicksand";
  }

  .nav-link-rest:hover {
    font-weight: bold;
  }

  .nav-link-rest:after {
    backface-visibility: hidden;
    border-bottom: 1px solid black;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }

  .nav-link-rest:hover:after,
  .nav-link-rest:hover:before {
    backface-visibility: hidden;
    border-color: #000;
    transition: width 350ms ease-in-out;
    width: 70%;
  }

  .nav-link-rest:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
}

header.masthead {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $gray-800;
  background: url("../img/galeria/2/22.JPG") no-repeat center center;
  @include background-cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 100vh;
  .overlay {
    position: absolute;
    background-color: $black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  .home-title {
    font-size: 3rem;
    font-weight: normal;
    text-shadow: 0 0 18px black;
  }

  .subtitle {
    font-weight: lighter;
    font-size: 2em;
    margin-bottom: 1em;
  }
}

.logo-home {
  width: 20em;
  margin-bottom: 1em;
}

.logo {
  width: 8em;
}

.crystal {
  position: absolute;
  height: 18vh;
  width: 100vw;
  box-shadow: none;
  z-index: 1;
  border: none;
  border-radius: 0;
}

.main-col {
  padding: 2em 2em 0 2em;
}

.blur-name {
  align-items: center;
  border: none;
  border: 1px solid #8080801a;
  box-shadow: 0px 2px 7px 0px #00000033;
  border-radius: 30px;
  transition: 0.5s;
  backdrop-filter: blur(7px);
  background: #00000059;
}

.blur-name:hover {
  align-items: center;
  border: none;
  border: 1px solid white;
  box-shadow: 0px 2px 7px 0px #00000033;
  border-radius: 30px;
  transition: 0.5s;
}

.btn-1 {
  background: transparent;
  font-weight: 100;
  background: #ffffff90;
  color: black !important;
  margin-top: 2em;
  padding: 0;
  &:hover {
    background: #ffffffca;
  }
}

.btn {
  cursor: pointer;
  // display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: 600px) {
    margin: 0 1em 2em;
  }
}
